/* .films-container {
    position: relative;
} */

body {
    /* margin-left: 5%; */
    margin-top: 3%;
}

#films-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
  }
  
  .film-title {
   font-size: 1em;
  }
  


.poster {
    width: 20em;
}
